<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Eat-Da-Burger!</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>
  <div class="container">
    <center>
      <div class="row">
        <div class="col-sm-12">
          <img src="/assets/img/149333.png" width="400px" id="burger">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h1>Eat-Da-Burger!</h1>
        </div>
      </div>
    </center>
    {{{ body }}}
  </div>
</body>

</html>